*,::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid red;
}